@use "@/main";

.content {
    .textSelectButton {
        font-weight: 700;
    }
    .textBoldGreen {
        color: main.$textGreen;
        font-weight: 700;
        line-height: 32px;
    }
    .subText {
        text-transform: inherit;
        line-height: 1rem;
    }
    .contentIconNav {
        cursor: alias;
    }
}
.Box {
    width: 100%;
}

@media screen and (min-width: 30em) {
    .Box {
        width: 50%;
        .textBoldGreen {
            color: main.$textGreen;
            font-weight: 600;
            line-height: 15px;
        }
    }
}

@media screen and (min-width: 48em) {
    .Box {
        width: 25%;
        .textSelectButton {
            font-weight: 600;
        }
    }
}
