@use "@/main";

.content {
    height: main.$heightNavHeader;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .textSelectButton {
        font-weight: 700;
    }
    .textBoldGreen {
        color: main.$textGreen;
        font-weight: 700;
        line-height: 32px;
    }
    .subText {
        text-transform: inherit;
        line-height: 1rem;
    }
    .contentIconNav {
        cursor: alias;
    }
}
.Box {
    width: 100%;
}

@media screen and (min-width: 30em) {
    .Box {
        width: 50%;
    }
}

@media screen and (min-width: 48em) {
    .Box {
        width: 25%;
    }
}
