@import "@fontsource/quicksand/300.css";
@import "@fontsource/quicksand/400.css";
@import "@fontsource/quicksand/500.css";
@import "@fontsource/quicksand/600.css";
@import "@fontsource/quicksand/700.css";

$width: 100vw;
$height: 100vh;
$heightHeader: 6rem;
$heightNavHeader: 4rem;
$borderColor: #e5e5e5;
$colorButtonGreen: #3bb77e;
$textGreen: #3bb77e;

:root {
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

[data-theme="dark"] {
    --font-color: #eee;
    --background-color: #333;
    --link-color: lightblue;
    --button-color: #554f4f;
}

body {
    margin: 0;
    display: flex;

    place-items: start;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    // border-radius: 8px;
    // border: 1px solid transparent;
    // padding: 0.6em 1.2em;
    font-size: 1em;
    color: var(--font-color);
    // font-weight: 500;
    // font-family: inherit;
    // background-color: var(--button-color);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    opacity: 1;
    // font-size: 1.1em;

    //  background-color: 'transition';
}
button:focus,
button:focus-visible {
    // outline: -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
